

body{
    background-color: rgb(28, 30, 41);
    opacity: 2;
    padding: 30px;
}
.heroes-list{
    background-color: rgb(27, 27, 27);
    
}
.fliter-block{
    background-color: rgb(49, 49, 49);
    display: inline-block;
    
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}
.hero-img{
    cursor: pointer;
}
.hero-img:hover{
    transform: scale(2.0);
    border: 2px solid black;
    
}
.filter-btn{
    background-color: rgb(73, 73, 73);
    color: whitesmoke;
}