body{
    background-color: rgb(28, 30, 41);
    opacity: 2;
    padding: 40px;
}
.heroes-list{
    background-color: rgb(27, 27, 27);
    
}
.fliter-block{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}